.PokeHeader
  background-color #D32F2F
  box-shadow 0 5px 10px 0px rgba(0,0,0,0.3)
  color #FFFFFF
  font-size 2.5em
  font-weight bold
  position fixed
  padding-top 10px
  padding-bottom 10px
  text-align left
  top 0
  width 100%

.PokeHeader a
  color #FFFFFF

.PokeHeader span
  margin-left 10px

.contact
  float right

.contact span
  margin-right 10px

.twitter:hover
  color #1DA1F2

.facebook:hover
  color #3A5795

.github:hover
  color #333333