.PokeChat
  background-color #FFFFFF
  box-shadow 3px 7px 10px 0px rgba(0,0,0,0.3)
  position relative
  left 72%
  display block
  width 25%
  height 600px
  position fixed
  vertical-align top
  overflow-y auto
  z-index 1

.PokeChat header
  background-color #D32F2F
  color #FFFFFF
  padding 10px
  text-align center