.PokeChat
  background-color #FFFFFF
  box-shadow 3px 7px 10px 0px rgba(0,0,0,0.3)
  left 72%
  display block
  width 25%
  height 630px
  position fixed
  vertical-align top
  overflow-y auto
  z-index 1

.PokeChat header
  background-color #D32F2F
  color #FFFFFF
  padding 10px
  text-align center

.avatar
  float left
  padding 5px
  margin-right 5px

.message
  overflow hidden
  border-bottom 1px solid #FF5722

.example-enter
  opacity 0.01

.example-enter .animation-enter-active
  opacity 1
  transition opacity 500ms ease-in

.example-leave
  opacity 1

.example-leave .example-leave-active
  opacity 0.01
  -webkit-transition opacity 300ms ease-in
  transition opacity 300ms ease-in
